# ==========================
# Build
# ==========================
target/
build/
.gradle/

# Maven
apache-maven-*/
.mvn/

# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml
out/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Eclipse
# ==========================
.classpath
.project
.settings/

# ==========================
# NetBeans
# ==========================
nbproject/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db
desktop.ini

# ==========================
# Java
# ==========================
*.class
*.jar
*.war
*.ear

# (필요하면 릴리즈 폴더는 제외)
release/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Temp
# ==========================
*.tmp
*.bak
*.swp
# Batch files
build.bat
push.bat
